<div class="home-container">
  <!-- header section -->
  <header>
    <a href="//gmail.com">Gmail</a>
    <a href="//google.com/images">Images</a>
    <mat-icon>apps</mat-icon>
    <button>Sign in</button>
  </header>


  <!-- main section  -->
  <main>
    <img src="https://www.google.com.hk/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="logo">

    <div class="search-box">
      <form #form="ngForm" (ngSubmit)="search(form)">
        <app-search rightIcon="false"></app-search>
      </form>
    </div>

    <div class="gbutton">
      <button type="button">Google search</button>
      <button>I'm feeling lucky</button>
    </div>
  </main>
</div>
